.App {
  text-align: center;
}

.App-logo {

  animation-name: App-logo-translate;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-translate {
  from {
    transform: translateX(-50%);
  }
  to{
    transform: translateX(50%);
  }

}
